<style>
  body {
    padding-top: 80px;
    text-align: center;
    font-family: monaco, monospace;
    background: url(https://media.giphy.com/media/xTiN0L7EW5trfOvEk0/giphy.gif) 25%;
    background-size: fit;
  }
</style>

<title>Opps, Page not Found</title>